<div class="pages-container">
  <div class="row">
    <div class="col-lg-12">
      <div class="splash">
        <h1 class="ma-tag-line text-center">Like New Relic, but cheaper!</h1>
        <%= fa_icon 'chevron-down', class: 'ma-check-it-out' %>
      </div>
    </div>
  </div>
</div>
