$(document).on('ready page:load', function() {

  var url = location.protocol + '//' + '<%= Rails.application.secrets.base_url %>' + '/clicks';

  var $navSearchBar = $('.nav-search-bar');

  var $body = $('body');

  function createHeatmap(container) {
    var config = { container: container, radius: 10, maxOpacity: 0.5, minOpacity: 0 };
    return h337.create(config);
  }

  $('#search-icon').click(function() {
    $navSearchBar.slideToggle();
  });

  $('#heatmap-toggle').click(function() {
    $.ajax({ url: url, method: 'GET' }).done(function(data) {
      var heatmap = createHeatmap($body[0]);
      heatmap.setData(data);
    });
  });

  $body.on('keydown', function(event) {
    if (event.keyCode === 27) {
      $('.heatmap-canvas').remove();
    }
  });
});
