$(document).on('ready page:load', function() {

  var url = location.protocol + '//' + '<%= Rails.application.secrets.base_url %>' + '/clicks';

  function extractData(evt, win) {
    return {
      click: {
        x:        evt.clientX,
        y:        evt.clientY,
        width:    win.innerWidth,
        height:   win.innerHeight,
        scroll_x: win.pageXOffset,
        scroll_y: win.pageYOffset
      }
    };
  }

  $('body').click(function(event) {
    $.ajax({ url: url, method: 'POST', data: extractData(event, window) });
  });
});
