.navbar {
  margin: 0px;
  border: 0px;
  border-radius: 0px;
  border-bottom: 1px solid;
  background-color: $ma-white;
  border-color: $ma-grey;

  .nav {
    li > a {
      color: $ma-black;
      font-variant: small-caps;
      transform-text: uppercase;
    }
  }

  .navbar-brand {
    color: $ma-black;
    font-weight: $ma-font-weight-bd;
  }
}

.nav-ma-actions {
  @extend .nav, .navbar-nav;
}

.nav-user-actions {
  @extend .nav, .navbar-nav, .navbar-right;

  li {
    padding-right: 5px;
  }
}

.nav-search-bar {
  @extend .container;
  height: 50px;
  display: none;

  .nav-search-input {
    width: 450px;
  }
}
