.pages-container {
  @extend .container;

  width: 100%;
  padding: 0;
}

.splash {
  background: linear-gradient(
    $ma-black-transparent,
    $ma-black-transparent),
    image-url('splash.jpg');
  background-size: cover;
  padding: 250px 0;
  position: relative;
  height: calc(100vh - 50px);
}

.ma-tag-line {
  color: $ma-white;
  font-size: $ma-font-xl;
}

.ma-check-it-out {
  position: absolute;
  color: $ma-white;
  font-size: $ma-font-lg;
  bottom: 10px;
  right: 50%;
}
