$ma-base-unit: 16px;

$ma-white: rgb(255, 255, 255);
$ma-black: rgb(0, 0, 0);
$ma-grey:  rgb(215, 215, 215);

$ma-black-transparent: rgba(0, 0, 0, 0.45);

$ma-font-xl: $ma-base-unit * 4;
$ma-font-lg: $ma-base-unit * 2;
$ma-font-md: $ma-base-unit;
$ma-font-sm: $ma-base-unit / 2;

$ma-font-weight-md: 400;
$ma-font-weight-bd: 800;
