<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Modern Antique', root_path, class: 'navbar-brand' %>
    </div>
    <ul class="nav-ma-actions">
      <li><%= link_to 'why modern antique', '#', class: 'ma-nav-link' %></li>
      <li><%= link_to 'products', '#' %></li>
      <li><%= link_to 'pricing', '#' %></li>
      <li><%= link_to 'company', '#' %></li>
      <li><%= link_to 'support', '#' %></li>

      <li><%= link_to 'heatmap', '#', id: 'heatmap-toggle' %></li>

      <li>
        <%= link_to '#', id: 'search-icon' do %>
          <%= fa_icon 'search' %>
        <% end %>
      </li>
    </ul>

    <ul class="nav-user-actions">
      <li><%= button_tag 'Log In', type: :button, class: 'btn btn-default navbar-btn' %></li>
      <li><%= button_tag 'Sign Up', type: :button, class: 'btn btn-danger navbar-btn' %></li>
    </ul>
  </div>

  <div class="nav-search-bar">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= form_tag '#', class: 'form-inline' do %>
          <%= text_field_tag 'search', nil, class: 'form-control nav-search-input', placeholder: 'Search modernantique.com' %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
